header {
  margin: 0 auto;
  max-width: 1280px;
  padding: 1.45rem 1.0875rem;
  display: flex;
  align-content: space-between;
  align-items: center;
}

h1 {
  display: inline-block;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #3c3c3b;
}

nav a:hover,
nav .active a {
  color: #dba0a5;
}
